<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <!-- EntryPoint 등록 -->
     <extension point="org.eclipse.rap.ui.entrypoint">
        <entrypoint
              id="com.innotree.rap.demo.entrypoint"
              path="/"
              class="com.innotree.rap.demo.DemoWorkbench">
        </entrypoint>
     </extension>

     <!-- Perspective 등록 -->
     <extension point="org.eclipse.ui.perspectives">
        <perspective
              class="com.innotree.rap.demo.DemoPerspective"
              id="com.innotree.rap.demo.perspective"
              name="Demo Perspective"/>
     </extension>

     <!-- View 등록 -->
     <extension point="org.eclipse.ui.views">
        <view
              class="com.innotree.rap.demo.views.DemoTreeView"
              id="com.innotree.rap.demo.views.tree"
              name="Demo Tree View"/>
        <view
              class="com.innotree.rap.demo.views.DemoTableView"
              id="com.innotree.rap.demo.views.table"
              name="Demo Table View"/>
        <view
        	 class="com.innotree.rap.demo.views.DemoSelectionView"
        	 id="com.innotree.rap.demo.views.selection"
        	 name="Selection View" />
        <view
              class="com.innotree.rap.demo.views.DemoFormView"
              id="com.innotree.rap.demo.views.form"
              name="Form View"/>
     </extension>
     
     <!-- Editor 등록 -->
     <extension point="org.eclipse.ui.editors">
        <editor
              id="com.innotree.rap.demo.editor"
              name="Demo Editor"
              class="com.innotree.rap.demo.editor.DemoEditor"
              default="true"
              extensions="demo">
        </editor>
     </extension>
     
     <!-- ActionSet 등록 -->
       <extension point="org.eclipse.ui.actionSets">
          <actionSet
                id="com.innotree.rap.demo.actionSet"
                label="Demo Actions"
                visible="true">
             <action
                   id="com.innotree.rap.demo.actions.sample"
                   label="Sample Action"
                   menubarPath="help/additions"
                   toolbarPath="additions"
                   tooltip="Execute Sample Action"
                   class="com.innotree.rap.demo.actions.SampleAction">
             </action>
          </actionSet>
       </extension>
     

  </plugin>

